---
import Video from '../Video/index.astro';
---

<section class="flex flex-col gap-y-4 xl:gap-y-16">
  <h2 class="px-8 xl:px-32  text-2xl md:text-3xl">Si vamos en equipo, llegamos más lejos. Nosotros te cubrimos.</h2>
  <Video class='aspect-auto md:aspect-video' src={import.meta.env.PUBLIC_PATH_URL + "/nutrifit-collab.mp4"} inline minimal/>
</section>

<style>
  .media-minimal-skin {
    border-radius: 0 !important;
    border-color: blue;
  }
</style>