---
import Video from '../Video/index.astro';
---

<section class="p-8 xl:p-32 flex flex-col gap-y-4 xl:gap-y-16">
  <h2 class="text-2xl xl:text-7xl">En equipo, llegamos más lejos.</h2>
  <p class="flex flex-col">
    <span class="text-2xl xl:3xl">Si lo que buscas es reformar y hacer las pases contigo en varios frentes...</span>
    <span class="text-2xl xl:3xl">Nosotros te cubrimos.</span>
  </p>
  <Video src={import.meta.env.PUBLIC_PATH_URL + "/nutrifit-collab.mp4"}/>
</section>