---
import Heading from '../Typography/Heading.astro';
interface Props {
  images: { src: string; alt: string }[];
  itemsPerRow?: number;
}

const { images, itemsPerRow = 3 } = Astro.props;

const rows: { src: string; alt: string }[][] = [];
for (let i = 0; i < images.length; i += itemsPerRow) {
  rows.push(images.slice(i, i + itemsPerRow));
}

const hasMultipleRows = rows.length >= 2;
---

<section class="w-full px-8 md:px-32 py-32 flex flex-col gap-6">
  <Heading level="2" className="text-2xl md:text-3xl uppercase italic text-white text-center">Instituciones que han trabajado conmigo</Heading>
  {rows.map((row, rowIndex) => {
    const isLastRow = rowIndex === rows.length - 1;
    const isPartial = row.length < itemsPerRow;
    const centered = hasMultipleRows && isLastRow && isPartial;
    return (
      <div class={`flex flex-wrap gap-6 justify-center`}>
        {row.map((image) => (
          <figure class="flex-none basis-1/4 shrink-0 grow max-h-100 max-w-70">
            <img
              src={image.src}
              alt={image.alt}
              class="w-full aspect-square object-cover rounded-2xl h-full"
            />
          </figure>
        ))}
      </div>
    );
  })}
</section>
