[data-list-element="list"] > li {
  position: relative;
  left: 1rem;
}

[data-list-element="non-bulleted"] > li {
  position: relative;
  left: 0;
}

[data-list-item-marker-accent] > li {
  @apply text-accent;
}

[data-list-style="disc"] {
  @apply list-disc;
}

[data-list-style="decimal"] {
  @apply list-decimal;
}

[data-list-srtyle="none"] {
  @apply list-none;
}