<section data-section="brief" class="max-w-360 px-8 h-full py-16 mx-auto flex flex-col gap-y-16">
  <!-- <h2 class="text-3xl lg:text-5xl">¿Listo para llevar tu físico al siguiente nivel?</h2> -->
  <figure class="flex items-center gap-x-8">
    <figcaption class="mb-4 text-2xl basis-1/2 flex flex-col *:grow">
      <span>
        El hierro se forja en el fuego, pero los verdaderos guerreros se forjan en la lealtad.
      </span>
      <span>
        Aquí no hay egos, solo una hermandad que se apoya dentro y fuera del escenario.
      </span>
    </figcaption>
    <img src="/metal.jpg" class="object-cover basis-1/2 max-h-240 rounded-md shadow-xl"/>
  </figure>
</section>