---
import './index.css';
---

<section data-section="brief" class="px-8 py-32 flex flex-col gap-y-16 h-dvh">
  <div class="mx-auto h-full max-w-360 z-10 flex items-center justify-center">
    <p class="text-white italic text-2xl lg:text-3xl max-w-9/12 text-center flex flex-col items-center gap-y-8">
      <span>
        <span>El hierro se forja en el fuego, pero los verdaderos guerreros se forjan en la</span>
        <span class="text-accent">lealtad.</span>
      </span>
      <span class="text-accent">Aquí no hay egos.</span>
      <span>Solo una hermandad que se apoya dentro y fuera del escenario.</span>
      <span>
        <span>No importa el reto.</span><br />
        <span class="text-accent">Juntos, siempre alzamos el estandarte.</span>
      </span>
    </p>
  </div>
</section>