section[data-section="brief"] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-image: url('/brayan_1.jpg');
}


section[data-section="brief"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

section[data-section="brief"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: linear-gradient(to bottom, var(--color-true-black), transparent);
  pointer-events: none;
}