<section class="min-h-dvh px-8 py-16 max-w-360 mx-auto grid grid-rows-2 lg:grid-rows-1 lg:grid-cols-2">
    <figure class="h-100">
      <img class="max-h-full max-w-full" src="/panthers.training-4k-transparent-logo.png"/>
      <figcaption class="text-sm text-end mt-2">by Carlos Ramirez</figcaption>
    </figure>
    <h1 class="text-5xl lg:text-7xl font-normal italic justify-center text-end self-end">
      ¿Listo para llevar tu físico al siguiente nivel?
    </h1>
</section>