@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url('/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('/LiberationSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('/LiberationSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('/LiberationSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('/LiberationSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('/LiberationSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('/LiberationSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('/LiberationSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('/LiberationSerif-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('/LiberationMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('/LiberationMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('/LiberationMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('/LiberationMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-accent: #fad41c;
  --color-black: #1a1a1a;
  --color-true-black: #000000;
  --color-white: #f5f5f5;
  --font-sans: 'Liberation Sans', sans-serif;
}

html, body {
  color: var(--color-accent);
  background: linear-gradient(#000, var(--color-true-black));
  font-family: var(--font-sans);
}