<section class="p-8 xl:p-32 flex flex-col">
  <div class="flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:gap-x-8">
    <figure class="lg:sticky lg:top-24 lg:h-dvh rounded-md overflow-hidden flex justify-center">
      <img class="xl:max-h-[80%] object-contain rounded-md overflow-hidden" src={import.meta.env.PUBLIC_PATH_URL + "/collab.jpg"}/>
    </figure>
    <div class="flex flex-col">
      <p class="lg:min-h-dvh relative top-16 gap-y-4 text-md md:text-2xl flex flex-col justify-center text-white text-start xl:text-end">
        <span>Si lo que buscas es reformar y hacer las pases contigo en varios frentes...</span>
      </p>
      <p class="lg:min-h-dvh relative top-16 gap-y-4 text-md md:text-2xl flex flex-col justify-center text-white text-start xl:text-end">
        <span>
          En colaboración con Andrea de <a class="underline text-accent" target="_blank" rel="noopener noreferrer" href="https://nutrifitguerrero.com">Nutrifit Guerrero</a>,
          podrás superar múltiples obstáculos disfrutando el proceso.
        </span>
      </p>
    </div>
  </div>
</section>