<section class="p-8 xl:p-32 flex flex-col gap-y-4 xl:gap-y-16">
  <h1 class="relative xl:text-end text-2xl xl:text-7xl">Te aseguramos el exito en mas de una parte de tí.</h1>
  <div class="grid grid-cols-1 grid-rows-2 xl:grid-cols-2 xl:grid-rows-1">
    <figure class="rounded-md overflow-hidden flex justify-center min-w-full min-h-full">
      <img class="h-full w-full" src={import.meta.env.PUBLIC_PATH_URL + "/collab.jpg"}/>
    </figure>
    <p class="relative xl:sticky top-16 text-xl xl:text-3xl flex flex-col text-white text-start xl:text-end xl:justify-center">
      <span>
        En colaboración con Andrea de <a class="underline text-accent" target="_blank" rel="noopener noreferrer" href="https://nutrifitguerrero.com">Nutrifit Guerrero</a>,
      </span>
      <span>podrás superar múltiples obstáculos disfrutando el proceso.</span>
    </p>
  </div>
</section>