<section class="p-8 xl:p-32 flex flex-col gap-y-4 xl:gap-y-16">
  <h1 class="text-2xl xl:text-7xl">Te aseguramos el exito en mas de una parte de tí.</h1>

  <p class="text-2xl xl:text-3xl flex flex-col text-white text-end">
    <span>
      En colaboración con Andrea de <a class="underline text-accent" target="_blank" rel="noopener noreferrer" href="https://nutrifitguerrero.com">Nutrifit Guerrero</a>,
    </span>
    <span>podrás superar múltiples obstáculos disfrutando el proceso.</span>
  </p>
</section>