---
import Layout from '../layouts/index.astro';
import Hero from '../components/Hero/index.astro';
import Brief from '../components/Brief/index.astro';
---

<Layout>
	<Hero />
	<Brief />
	<section>
	</section>
</Layout>