---
import { Icon } from 'astro-icon/components';
import Section from '../../../components/Section/index.astro';
import Heading from '../../../components/Typography/Heading.astro';
---

<Section section="me-brief" containerClassName="text-xl xl:text-3xl flex flex-col min-h-full justify-center gap-y-16 grow h-full" className="flex items-center py-40!">
  <Heading level="2" className="flex md:hidden italic uppercase flex-col gap-y-4 text-white">
    Tu entrenador
  </Heading>
  <div class="flex flex-col-reverse md:flex-row gap-8 justify-center xl:justify-between">
    <div class="flex md:hidden xl:flex flex-col justify-around gap-y-8">
      <Heading level="2" className="hidden xl:flex italic uppercase flex-col gap-y-4 text-white">
        Tu entrenador
      </Heading>
      <p class="flex flex-col md:hidden xl:flex gap-y-8 justify-center" class="basis-full lg:basis-1/2 shrink-0 grow">
        <span class="text-accent italic max-w-5xl">
          Preparador físico especializado en alto rendimiento, medicina deportiva enfocado en llevar a cada atleta o persona a su máximo potencial físico, ya sea en el ámbito competitivo, salud o estética.
        </span>
      </p>
    </div>
    <figure class="basis-full lg:basis-1/2 shrink-0 grow relative overflow-hidden rounded-2xl group max-h-150 max-w-188 xl:mx-auto">
      <img class="w-full h-full object-cover rounded-2xl transition-transform scale-105 group-hover:scale-110" src={import.meta.env.PUBLIC_PATH_URL + '/winner_carlos.png'} alt="Carlos Ramírez" />
      <figcaption class="flex flex-col justify-end gap-4 text-xl rounded-b-2xl text-white absolute bottom-0 bg-linear-0 from-black to-transparent w-full p-4 h-full overflow-hidden">
          <Heading level="2" className="hidden md:flex xl:hidden italic uppercase flex-col gap-y-4 text-white grow">
            Tu entrenador
          </Heading>
          <span class="text-2xl md:text-5xl text-end md:text-start xl:text-end px-4 uppercase">
            Carlos Ramirez
          </span>
          <span class="text-accent italic text-end px-4 hidden md:flex xl:hidden">
            Preparador físico especializado en alto rendimiento, medicina deportiva enfocado en llevar a cada atleta o persona a su máximo potencial físico, ya sea en el ámbito competitivo, salud o estética.
          </span>
      </figcaption>
    </figure>
  </div>
</Section>