---
import { Icon } from 'astro-icon/components';
import Section from '../../../components/Section/index.astro';
import Heading from '../../../components/Typography/Heading.astro';
---

<Section section="me-brief" containerClassName="text-xl xl:text-3xl flex flex-col min-h-full justify-center gap-y-16 grow h-full" className="flex items-center py-40!">
  <Heading level="2" className="italic uppercase flex flex-col gap-y-4 text-white">
    Tu entrenador
  </Heading>
  <p class="flex flex-col gap-y-8">
    <span>
      Soy Carlos Ramírez.
    </span>
    <span class="text-white">
      Preparador físico especializado en alto rendimiento, medicina deportiva enfocado en llevar a cada atleta o persona a su máximo potencial físico, ya sea en el ámbito competitivo, salud o estética.
    </span>
  </p>
</Section>