---
import { Icon } from 'astro-icon/components';
---

<footer id="contact" class="border-t border-accent px-8 mx-auto py-16 min-h-108 gap-8">
  <div class="max-w-360 h-full mx-auto flex-col-reverse gap-y-8 xl:gap-y-0 xl:flex-row flex items-center justify-between xl:items-start">
    <p class="text-accent text-sm">&copy; {new Date().getFullYear()} Panthers Training. Todos los derechos reservados.</p>
    <div class="flex flex-col gap-y-8">
      <h2 class="text-accent text-center text-2xl md:text-3xl">Buscanos en</h2>
      <div class="flex flex-row xl:flex-col justify-center items-center gap-6">
        <a href="https://www.instagram.com/panthers.training" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="text-accent hover:text-primary transition-colors flex gap-x-4 items-center">
          <Icon name="simple-icons:instagram" class="size-7" />
          <span class="hidden xl:inline">Instagram</span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp" class="text-accent hover:text-primary transition-colors flex gap-x-4 items-center">
          <Icon name="simple-icons:whatsapp" class="size-7" />
          <span class="hidden xl:inline">WhatsApp</span>
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="text-accent hover:text-primary transition-colors flex gap-x-4 items-center">
          <Icon name="simple-icons:facebook" class="size-7" />
          <span class="hidden xl:inline">Facebook</span>
        </a>
      </div>
    </div>
  </div>
</footer>
