---
import './index.css';
import { Icon } from 'astro-icon/components';
import Section from '../../../components/Section/index.astro';
import Heading from '../../../components/Typography/Heading.astro';
import List from '../../../components/List/index.astro';
import ListItem from '../../../components/ListItem/index.astro';
---

<Section section="me-brief" containerClassName="text-xl xl:text-3xl flex flex-col gap-y-16 grow h-full" className="flex items-center py-40!">
  <Heading level='2' className="italic uppercase flex flex-col gap-y-4 xl:text-end text-white">
    Servicios
  </Heading>
  <p class="text-lg xl:text-xl xl:text-end">Trabajo con una gama de servicios diseñados para satisfacer las necesidades de cada atleta</p>
  <List className="flex flex-col flex-wrap lg:flex-row gap-8" listStyle='none' nonBulleted>
    <ListItem className="transition-colors duration-150 cursor-pointer group flex flex-col gap-y-8 p-4 xl:p-8 basis-full lg:basis-1/3 2xl:basis-1/5 shrink-0 grow rounded-2xl bg-white/5 hover:bg-accent hover:text-black border border-white/10 text-lg">
      <div class="flex gap-x-2 justify-between items-center">
        <h2 class="text-sm md:text-2xl uppercase italic">
          Competencias y Tecnología deportiva
        </h2>
        <div class="flex gap-x-2">
          <span class="bg-true-black rounded-full p-2 text-accent border border-white/10">
            <Icon name="lets-icons:trophy-light" class="size-8"/>
          </span>
          <span class="bg-true-black rounded-full p-2 text-accent border border-white/10">
            <Icon name="lets-icons:cpu-light" class="size-8"/>
          </span>
        </div>
      </div>
      <p class="text-white text-lg md:text-xl group-hover:text-black grow">
        Planificación y ejecución de programas para atletas de cualquier disciplina que buscan competir al más alto nivel.
      </p>
      <a class="text-lg xl:text-xl text-accent self-end group-hover:text-black underline">
        Quiero competir
      </a>
    </ListItem>
    <ListItem className="transition-colors duration-150 cursor-pointer group flex flex-col gap-y-8 p-4 xl:p-8 basis-full lg:basis-1/3 2xl:basis-1/5 shrink-0 grow rounded-2xl bg-white/5 hover:bg-accent hover:text-black border border-white/10 text-lg">
      <div class="flex justify-between items-center">
        <h2 class="text-sm md:text-2xl uppercase italic">
          Entrenamiento Especializado en Geriatría
        </h2>
        <span class="bg-true-black rounded-full p-2 text-accent border border-white/10">
          <Icon name="lets-icons:user-add-light" class="size-8"/>
        </span>
      </div>
      <h3 class="text-white group-hover:text-black text-lg xl:text-xl">Programas adaptados para adultos mayores enfocados en:</h3>
      <List className="text-white list-disc m-0! text-lg md:text-xl relative group-hover:text-black">
	      <ListItem>Movilidad</ListItem>
	      <ListItem>Fuerza funcional</ListItem>
	      <ListItem>Prevención de caídas</ListItem>
	      <ListItem>Mejora de calidad de vida</ListItem>
      </List>
      <a class="text-lg xl:text-xl text-accent self-end group-hover:text-black underline">
        Quiero mejorar mi calidad de vida
      </a>
    </ListItem>
    <ListItem className="transition-colors duration-150 cursor-pointer group flex flex-col gap-y-8 p-4 xl:p-8 basis-full lg:basis-1/3 2xl:basis-1/5 shrink-0 grow rounded-2xl bg-white/5 hover:bg-accent hover:text-black border border-white/10 text-lg">
      <div class="flex justify-between items-center">
        <h2 class="text-sm md:text-2xl uppercase italic">
          Entrenamiento Post Lesión
        </h2>
        <span class="bg-true-black rounded-full p-2 text-accent border border-white/10">
          <Icon name="lets-icons:chield-light" class="size-8"/>
        </span>
      </div>
      <p class="text-white text-lg md:text-xl group-hover:text-black grow">
        Reintegración progresiva al entrenamiento tras lesiones, cuidando cada fase del proceso para evitar recaídas.
      </p>
      <a class="text-lg xl:text-xl text-accent self-end group-hover:text-black underline">
        Quiero recuperar mi actividad física
      </a>
    </ListItem>
    <ListItem className="transition-colors duration-150 cursor-pointer group flex flex-col gap-y-8 p-4 xl:p-8 basis-full lg:basis-1/3 2xl:basis-1/5 shrink-0 grow rounded-2xl bg-white/5 hover:bg-accent hover:text-black border border-white/10 text-lg">
      <div class="flex justify-between items-center gap-x-2">
        <h2 class="text-sm md:text-2xl uppercase italic">
        <span>
          Entrenamiento Online / Presencial
        </span>
      </h2>
      <span class="bg-true-black rounded-full p-2 text-accent border border-white/10">
        <Icon name="lets-icons:world-light" class="size-8"/>
      </span>
      </div>
      <List className="text-white list-disc m-0! text-lg xl:text-xl relative group-hover:text-black grow" data-section="services-geriatric-training">
        <ListItem>Programas personalizados a distancia</ListItem>
        <ListItem>Seguimiento continuo</ListItem>
        <ListItem>Entrenamiento presencial con supervisión directa</ListItem>
      </List>
      <a class="text-lg xl:text-xl text-accent self-end group-hover:text-black underline">
        Quiero entrenar con ustedes
      </a>
    </ListItem>
  </List>
</Section>